<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gzlsdl.glasses.modules.dao.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.gzlsdl.glasses.modules.entity.Member">
        <id column="id" property="id" />
        <result column="member_name" property="memberName" />
        <result column="level" property="level" />
        <result column="member_num" property="memberNum" />
    </resultMap>

</mapper>
