<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gzlsdl.glasses.modules.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.gzlsdl.glasses.modules.entity.User">
        <id column="id" property="id" />
        <result column="phone" property="phone" />
        <result column="real_name" property="realName" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="sex" property="sex" />
        <result column="salt" property="salt" />
        <result column="status" property="status" />
        <result column="dept_id" property="deptId" />
        <result column="create_time" property="createTime" />
        <result column="head_address" property="headAddress" />
    </resultMap>

    <select id="queryAllPerms" resultType="java.lang.String">
        select m.perms  from sys_user_role sur
        left join sys_role_menu srm on sur.role_id=srm.role_id
        left join sys_menu m on m.id=srm.menu_id
        where sur.user_id=#{userId}
    </select>

</mapper>
